@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  opacity: 1;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  color: black;
  background-color: #68dcc8;
  background-image:  linear-gradient(#4ab0b0 4px, transparent 4px), linear-gradient(90deg, #4ab0b0 4px, transparent 4px), linear-gradient(#4ab0b0 2px, transparent 2px), linear-gradient(90deg, #4ab0b0 2px, #68dcc8 2px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -4px -4px, -4px -4px, -2px -2px, -2px -2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Wrapper {
  background: #E5E4E2;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 5px;
}


.taskInput {
padding: 16px;
height: 2.5rem;
}

.form {
  width: 100%;
}

h1 {color: black;
display: flex;
justify-content: center;
}

.button {
padding: 0.5rem;
margin-left: 15px;
}

.trash {
color: red;
margin-right: 15px;
}

.todo-input{
padding: 16px;
height: 2.5rem;
}

.todo-btn {
padding: 0.5rem;
margin-left: 15px;
}